.book-list {
  margin:0;
  padding:0;
  li {
    list-style:none;
    padding:4px 0;
    border-bottom:1px solid #ccc;
    display:flex;
    justify-content: space-between;
    .books {
      cursor: pointer;
      display:inline-block;
    }
    .delete{
      background: #d0d4ea;
      color: #7c8ff9;
      display:inline-block;
      font-size:10px;
      border-radius:4px;
      padding:2px;
      cursor:pointer;
    }
  }
}
